/* Global styles for your application */

body {
    font-family: Arial, sans-serif; /* Use a default font */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light gray background */
  }
  
  h1 {
    color: #333; /* Dark text color for headings */
  }
  